<ion-view title="3 Man Squad" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="3ManSquad-card25">
      <ion-item class="item-icon-left dark" id="3ManSquad-list-item17">
        <i class="icon ion-android-send"></i>3 Man Squad
        <span class="item-note">Plan out your first kid's education</span>
      </ion-item>
      <div id="3ManSquad-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Get a free laptop with every plan signup!</p>
      </div>
    </div>
    <form id="3ManSquad-form7" class="list">
      <label class="item item-input" id="3ManSquad-input9">
        <span class="input-label">Contact method</span>
        <input type="text" placeholder="">
      </label>
      <ion-checkbox id="3ManSquad-checkbox3">Email</ion-checkbox>
      <ion-checkbox id="3ManSquad-checkbox4">SMS</ion-checkbox>
      <label class="item item-input" id="3ManSquad-input10">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="3ManSquad-toggle7">Toggle</ion-toggle>
      <button id="3ManSquad-button10" class="button button-assertive button-block">Claim Now!</button>
    </form>
  </ion-content>
</ion-view>