<ion-view title="Landing page" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="landingPage-card21">
      <ion-item class="item-avatar" id="landingPage-list-item3">
        <h2>Level: 25</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/9TRFCNvISMSG4qlmYUSk_Welcometo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left dark" id="landingPage-list-item4" ui-sref="tabsController.questMenu()">
        <i class="icon ion-android-send"></i>See Quests </ion-item>
    </div>
  </ion-content>
</ion-view>