<ion-view title="Lyfe: The Game" id="page5" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.landingPage()" id="lyfeTheGame-button2" class="button button-assertive button-block">Login With Singpass</a>
    <form id="lyfeTheGame-form1" class="list">
      <label class="item item-input" id="lyfeTheGame-input1">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="lyfeTheGame-form2" class="list">
      <ion-radio id="lyfeTheGame-radio2">Password</ion-radio>
      <ion-toggle toggle-class="toggle-positive" id="lyfeTheGame-toggle2">Remember Me</ion-toggle>
      <a ui-sref="tabsController.landingPage()" id="lyfeTheGame-button3" class="button button-assertive button-block">Login WIth Email</a>
      <button id="lyfeTheGame-button4" class="button button-assertive button-block">Signup</button>
    </form>
  </ion-content>
</ion-view>