<ion-view title="One Boba A Day Challenge" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="oneBobaADayChallenge-card24">
      <ion-item class="item-icon-left dark" id="oneBobaADayChallenge-list-item15">
        <i class="icon ion-android-send"></i>One Boba A Day Challenge
        <span class="item-note">Top up 5 dollars into a Savings Account</span>
      </ion-item>
      <div id="oneBobaADayChallenge-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Get a free Gong Cha on us(Day 30 reward)</p>
      </div>
    </div>
    <form id="oneBobaADayChallenge-form6" class="list">
      <label class="item item-input" id="oneBobaADayChallenge-input7">
        <span class="input-label">Contact method</span>
        <input type="text" placeholder="">
      </label>
      <ion-checkbox id="oneBobaADayChallenge-checkbox1">Email</ion-checkbox>
      <ion-checkbox id="oneBobaADayChallenge-checkbox2">SMS</ion-checkbox>
      <label class="item item-input" id="oneBobaADayChallenge-input8">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" id="oneBobaADayChallenge-toggle6">Toggle</ion-toggle>
      <button id="oneBobaADayChallenge-button8" class="button button-assertive button-block">Claim Now!</button>
    </form>
  </ion-content>
</ion-view>