<ion-view title="Quest Menu(2)" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="questMenu2-card23">
      <ion-item class="item-avatar" id="questMenu2-list-item10">
        <h2>Level: 35 (Married)</h2>
      </ion-item>
      <ion-item class="item-icon-left dark" id="questMenu2-list-item11">
        <i class="icon ion-android-send"></i>3 Man Squad
        <span class="item-note">Plan out your first kid's education</span>
      </ion-item>
      <div id="questMenu2-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Get a free laptop with every plan signup!</p>
      </div>
      <a ui-sref="oneBobaADayChallenge()" id="questMenu2-button1" class="button button-assertive button-block">Claim Now!</a>
      <ion-item class="item-icon-left dark" id="questMenu2-list-item12">
        <i class="icon ion-android-send"></i>House Music
        <span class="item-note">Seperate 70k into a home savings plan</span>
      </ion-item>
    </div>
  </ion-content>
</ion-view>