<ion-view title="Quest Menu" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="questMenu-card22">
      <ion-item class="item-avatar" id="questMenu-list-item5">
        <h2>Level: 25</h2>
      </ion-item>
      <ion-item class="item-icon-left dark" id="questMenu-list-item6">
        <i class="icon ion-android-send"></i>Protect Yourself!
        <span class="item-note">Setup your Insurance Portfolio</span>
      </ion-item>
      <ion-item class="item-icon-left dark" id="questMenu-list-item7">
        <i class="icon ion-android-send"></i>One Boba A Day Challenge
        <span class="item-note">Top up 5 dollars into a Savings Account</span>
      </ion-item>
      <div id="questMenu-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Get a free Gong Cha on us(Day 30 reward)</p>
      </div>
      <button id="questMenu-button9" class="button button-assertive button-block">Get Started!</button>
      <ion-item class="item-icon-left dark" id="questMenu-list-item8">
        <i class="icon ion-android-send"></i>Plan Big
        <span class="item-note">Road to your first 100k in 10 years</span>
      </ion-item>
      <div class="spacer" style="height: 100px;"></div>
      <button id="questMenu-button11" class="button button-assertive button-block">Alternate Quest Menu</button>
    </div>
  </ion-content>
</ion-view>