<ion-view title="Signup" id="page8" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.landingPage()" id="signup-button5" class="button button-assertive button-block">Signup With Singpass</a>
    <form id="signup-form3" class="list">
      <label class="item item-input" id="signup-input4">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="signup-form4" class="list">
      <ion-radio id="signup-radio3">Password</ion-radio>
      <ion-toggle toggle-class="toggle-positive" id="signup-toggle3">Remember Me</ion-toggle>
      <a ui-sref="tabsController.landingPage()" id="signup-button7" class="button button-assertive button-block">Signup</a>
    </form>
  </ion-content>
</ion-view>